{% extends 'base1.html' %}
{% load static %}
{% block xyz %}
{% if not request.session.email %}
<script>
    alert("You have to Login First");
    location.href = "/user/login/"
</script>
{% endif %}
<style>
    #box {
        display: none;
    }
</style>
<div class="row mt-5">
    <div class="col-sm-10 mx-auto fs-3 text-center">
        <p class="fs-3">My <b class="text-color1">Profile</b></p>
        <hr class="w-25 mx-auto" />
    </div>
</div>
{% for x in userinfo %}
<!--Profile-->
<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="row border p-3 mb-5" style="background: rgb(255,249,238);">
            <div class="col-sm-4">
                <img src="/{{x.profile_picture}}" class="img-thumbnail" />
            </div>
            <div class="col-sm-8 p-2">
                <h3>Er. {{x.name}}</h3>
                <i class="fa-solid fa-phone fs-5 text-color1"></i> <b class="">: +91-{{x.mobile}}</b><br>
                <i class="fa-solid fa-location-dot fs-5 text-color1"></i> <b class="">: {{x.address}}</b><br>
                <a onclick="demo()" class="btn btn-sm btn-dark mt-3"><i class="fa-solid fa-pen-to-square"></i>
                    Edit
                    Profile</a>
            </div>
        </div>
    </div>
</div>
<!--Profile End-->
<!--Uprofile-->
<div class="row" id="box">
    <div class="col-sm-5 mx-auto p-4 border">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Full Name <span class="text-danger">*</span>
            <input type="text" value="{{x.name}}" name="name" class="form-control">
            Enter Your Phone <span class="text-danger">*</span>
            <input type="number" value="{{x.mobile}}" name="mobile" class="form-control">
            Choose Profile Picture <span class="text-danger">*</span>
            <input type="file" name="fu" class="form-control">
            Enter Your Password <span class="text-danger">*</span>
            <input type="password" value="{{x.password}}" name="password" class="form-control">
            Enter Your Address <span class="text-danger">*</span>
            <textarea class="form-control" name="address"
                style="resize: none; height: 120px;">{{x.address}}</textarea><br>
            <button class="btn btn-sm btn-dark" type="submit">Update Now</button>
        </form>
    </div>
</div>
<!--Uprofile End-->
{% endfor %}
<script>
    function demo() {
        document.getElementById("box").style.display = "block";
    }
</script>
{% endblock %}