{% extends 'base.html' %}
{% load static %}
{% block xyz %}
<div class="row bg-light">
    <div class="col-sm-4 mx-auto login register">
        <p class="h2 text-center">Login <b class="text-color1">Now...<i class="fa-solid fa-key fa-spin"></i></b></p>
        <div class="py-4">
            <form method="POST">
                {% csrf_token %}
                <input type="email" placeholder="Enter your Email..." required name="email" class="form-control" />
                <input type="password" placeholder="Enter your Password..." required name="password"
                    class="form-control" />
                <b class="badge bg-success text-light text-center">{{msg}}</b>
                <a href="/user/registration/" class="float-end text-decoration-none fw-bold">Not Registered? Register
                    Now...</a>
                <input type="submit" value="Login Now" class="btn1 mt-2" />
            </form>
        </div>
    </div>
</div>
{% endblock %}